{% set backgroundClass = "the-manifesto" %}

{% extends 'pages-no-header.html' %}

{% block content %}
<section class="white-shade"></section>
{% set align = 0 %}
{% set offset = 6.5 %}
{% set fontsize = 5.25 %}
{% set content = leadText.large %}
<section class="lead" style="height:{{ (content.length+3) * (fontsize+0.25) }}rem; overflow:hidden">
	<section class="lead--text wrapper" style="height:100%">
		<section class="descript-text">
			<article>
				<h4>A manifesto?</h4>
				<p>There's a lot that I don't know. But, with over a decade of experience in the creative arts, I have come to "believe" certain things to be true - up to this point. Some of these might change, certainly most will mature, but they are - as I have come to experience - my opinions and adopted mantras.</p>
			</article>
		</section>
		<svg viewBox="0 0 100 55" preserveAspectRatio="xMinYMin meet">
			<defs>
				<filter id="textFilter" >
					<feTurbulence type="fractalNoise" baseFrequency="0.25" numOctaves="2" result="turbulence_3" data-filterId="3" />
					<feDisplacementMap xChannelSelector="G" yChannelSelector="B" in="SourceGraphic" in2="turbulence_3" scale="1" />
					<!-- <feBlend mode="lighten" in="SourceGraphic" />  -->
					<filter />
				</defs>
				{% for i, line in content %}

				<g>
					{% if line !== ' ' %}
					<rect width="100%" height="0.025" fill="yellow" y="{{(offset*loop.index)+0.25}}"></rect>
					{% endif %}
					<text id="textCanvas" x="0" y="{{offset*loop.index}}" font-size="{{fontsize}}" line-height="{{fontsize * 5}}" fill="#303030">{{line | raw}}</text>
				</g>
				
				{% endfor %}
			</svg>
		</section>
	</section>

	{% endblock %}
