@import 'axis';
@import 'kouto-swiss';
@import 'jeet';
//@import 'typographic';
@import 'rupture';
@import 'plugins';
@import 'typeset';

@import 'functions';
@import 'settings';
@import 'components';

@import 'pages';

html, body
	width: 100%
	height:100%

//debug()

html
	font-size: em(base-font-size)
	

	
.wrapper, [class^="nav--"]
	// Make Responsive
	center(1280px)
	position:relative



#alertmodal
	position: fixed
	top:0
	bottom:0
	left:0
	right:0
	background: rgba(255,255,255,0.85)

	button
		color:black
		border:none
		background:none
		position: absolute
		right:0
		top:0
		height:base-lineheight*2
		width:base-lineheight*2
		text-align:center
		line-height:2
		font-size: 2em

#alertmodal > section
	position: absolute
	top:50%
	left:50%
	transform:translate(-50%,-50%)
	padding: base-lineheight*2
	z-index: 100
	background:white
	box-shadow: 7px 7px 0px yellow
	
	h1
		@extend .header--large
		border-bottom: thick-border--highlight
		padding-bottom: base-lineheight*0.5
		