{% set backgroundClass = "contact" %}
{% extends 'pages.html' %}
{% block lead %}

<section class="lead">
	<section class="lead--text-with-form wrapper">
		{% set align = 0.75 %}
		{% set offset = 5.5 %}
		{% set fontsize = 5 %}
		{% set content = leadText.large %}
		<section class="text">
			<svg viewBox="0 0 100 78" preserveAspectRatio="xMinYMin meet">
				
				<g>	
					{% set factor = 2 %}		
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="0" y="{{(offset*factor)}}" font-size="{{fontsize*2.5}}" fill="#303030">Contact me if:
					</text>
				</g>
				<g>	
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">you want awesome creative talent
					</text>
				</g>
				<g>	
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">for your awesome creative team,
					</text>
				</g>
				<g>
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">someone who can collaborate and lead
					</text>
				</g>
				<g>
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">and who wants to grow with you,
					</text>
				</g>
				<g>
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">or you need a media all-rounder that
					</text>
				</g>
				<g>	
					{% set factor += 1 %}		
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">can do a little bit of everything
					</text>
				</g>
				<g>	
					{% set factor += 1.75%}		
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="0" y="{{(offset*factor)}}" font-size="{{fontsize*2}}" fill="#303030">Don't Contact me if:
					</text>
				</g>
				<g>
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">you don't have opportunities for growth
					</text>
				</g>
				
				<g>
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">
						you want "just a coder"
					</text>
				</g>
				<g>
					{% set factor += 1 %}
					<rect width="100%" height="0.125" fill="yellow" y="{{(offset*factor)}}"></rect>
					<text id="textCanvas" x="{{align}}" y="{{(offset*factor)}}" font-size="{{fontsize}}" fill="#303030">
						and you don't like creative thinkers.
					</text>
				</g>

			</text>
		</g>

	</svg>
</section>
<section id="contact-form" class="contact-form">

</section>
</section>
</section>

{% endblock %}


{% block content %}

{% endblock %}
