.filter-grid
	margin-bottom: base-lineheight *4
	form > section
		display:inline-block
		height:base-lineheight*2
		margin-right:base-lineheight
	input[type="checkbox"]
		display:none
	input[type="checkbox"] + label
		padding: base-lineheight * .25
		background:none
		cursor:pointer
	input[type="checkbox"]:checked + label
		border-bottom: thick-border--highlight
[class*="--item"]
	span(1/5, cycle:5)
	//margin-bottom: column-gutter(1/5)


.skill--item
	height:300px
	position:relative
	col(1/4, gutter: base-lineheight, uncycle:5, cycle:4)
	margin-bottom:column-gutter(1/4, base-lineheight) * 0.5
	ul
		margin:0
		padding:0
		position:absolute
		left:0
		right:0
		bottom:0
		height:8%
		
		li
			list-style-type:none
			float:left
			
			&:last-child
				float:right
	&:hover, &.active
		cursor: pointer
		article
			background:rgba(255,255,0, 0.85)
		header
			opacity:1
			transform: translateY(0)
		p
			opacity:1
			transform:translateY(0)

	.star
		height:base-lineheight * 0.5
		width:base-lineheight * 0.5
		display:inline-block
		margin: 0 2px
		background-image:url('/images/icons_star.svg')
		background-size: 100%
		background-position: center center
		background-repeat:no-repeat
	
	.name
		padding-right:base-lineheight * 0.5
		
.skill--image
	background:light-gray
	background-size:cover
	border:thin-border--light-gray
	background-position: center center
	position:absolute
	top:0
	left:0
	right:0
	height:92%
	overflow:hidden
	
	
	article
		position: absolute
		top:0
		bottom:0
		left:0
		right:0
		padding:base-lineheight*2
		
		
		header
			opacity:0
			transform:translateY(-1 * base-lineheight)
			transition: all 0.25s ease-in
			border-bottom: thick-border--black
			display: inline-block
		p
			opacity:0
			transform:translateY(base-lineheight)
			transition: all 0.25s ease-in
		a
			@extend .sans-header--small
			upcase()
			border-bottom: thick-border--black

.quote--image
	opacity:0.75
	height: 225px
	background-size: 100% auto
	background-repeat: no-repeat
	background-position: center center
	cursor: pointer
	
	&:hover
		opacity:1
		transition: all 0.125s ease-in



.quote--stats
	display:none



.quote--image_active
		position:relative
		background-size: 130% auto
		opacity:1
		&:before
			content:''
			position:absolute
			top:0
			bottom:0
			left:0
			right:0
			background:rgba(255,255,0, 0.5)


.quote--item .buffer
	height:0
	position:relative
	transition: height fast ease-in

.quote--item:hover
	.quote--image
		@extend .quote--image_active
	
.quote--item.active
	.quote--image
		@extend .quote--image_active
	.quote--stats
		background:white
		display:block
		position:absolute
		height:auto
		left:0
		right:0
		padding: base-lineheight 0
		
	
		span.quote-mark
			span(1/8)
			height:100%
			color:#FFFF00
			
			&:first-child
				text-align:right
	
		blockquote
			span(6/8)
			
		.quote
			display:block
		
		.author
			display:block
			text-align:right
			

	.buffer
		position:relative
		height:225px
		min-height:225px