#container > header
	height:100vh
	background-image:url('/images/mountain-light.jpg')
	background-repeat:no-repeat;
	background-size:cover
	position:relative
	&.the-details
		background-image:url('/images/profile.jpg')
		background-repeat:no-repeat;
		background-size:contain;
		background-position: bottom right;
		&:before
			content: ''
			position:absolute
			top:0
			bottom:0
			left:0
			right:0
			background:rgba(250,250,250,0.175)
	&.contact
		background-image:url('/images/beach-light.jpg')
		
#container > header, #container .header
	width:100%
	position:relative
	border-bottom:15px solid yellow

	> nav
		width:100%
		z-index:10
		height:base-lineheight*2

		ul
			margin:0
			padding:0
		li
			list-style-type:none
			float:left
			display:block
			margin-right:base-lineheight
			line-height:2.75
		
			a
				position: relative
				&:after
					content: ''
					position:absolute
					top:base-lineheight
					height:0px
					transition:height 0.25s ease-out
					left:0
					right:0
					background:highlightcolor
	
	#mainMenu, #langMenu, #thisPage, #contactCV
		position:relative
		z-index:50
	
	#mainMenu
		li.active a, li:hover a
			//border-bottom:5px solid red
			//
			&:after
				height:5px
	
	#thisPage
		float:left
	#contactCV
		float:right
	#langMenu
		float:right
			
	nav ~ nav
		position:absolute
		bottom:0
.header
	cf()

.header .lead	
	position:relative
	margin-top: -2 * base-lineheight
	
#brandMenu
	li
		&:hover, &.active
			border-bottom: thick-border--highlight


.header.the-manifesto
	.lead
		background-image:url('/images/mountain-piece.png')
		background-repeat:no-repeat;
		background-size:contain;
		background-position:bottom;
		height:100%
		width:100%
		&:before
			content: ''
			position:absolute
			top:0
			bottom:0
			left:0
			right:0
			background:rgba(250,250,250,0.175)

.header.the-inspiration
	background:rgba(250,250,250,0.175)	


#thisPage, #contactCV
	li
		padding: 0 (base-lineheight * 0.5) 
		border-top-right-radius: 7px
		border-top-left-radius: 7px
		&:hover, &.active
			background:yellow
		a
			height:100%
		