.lead--text--component
	//debug()
	position: relative
	center(1280px)
	aspect-ratio()
	font-family:georgia
	group()
	
	span
		color:printblack
		&:first-child
			padding-top:0
		color:gray
		font-weight:100
		position:relative
		z-index: 10
		font-size: 12vw
		display:block
		height: 25%
		//padding: (base-lineheight*0.75) 0
		line-height: 100%
		
		> span
			border-top:1px solid rgb(200,200,200)
			position:absolute
			height:1.5vw
			bottom:0
			width:100%
			display:block
			z-index:-150



.lead
	padding-top: base-lineheight*2
	position:absolute
	top:0
	left:0
	width:100%
	height:100%
	
	svg
		width:100%
		height:100%
		overflow:scroll
        .stop1
			stop-color: black
        .stop2
			stop-color: black
			stop-opacity: 0.5
        .stop3
			stop-color: black
			stop-opacity: 1


[class^='lead--text']
	height:100%
	
.lead--text-with-form
	position:relative
	.contact-form
		cf()
		col(2/5)
		shift(-3/5)
	.text
		cf()
		col(3/5)
		shift(2/5)
		height:100%
	
	.contact-form
		// position:absolute
		// top:50%
		// transform: translateY(-50%)
			margin-top:base-lineheight *2
		
		form
			div
				position:relative
				ul
					position: absolute
					top:0
					right:0
					margin:0
					padding:0
					li
						display: inline-block
						//height:base-lineheight
						line-height: base-lineheight
						
		input:focus, select:focus, textarea:focus, button:focus 
			outline: none
		
		input, textarea
			display:block
			width:100%
			margin-bottom: base-lineheight
			border: thin-border--light-gray
			padding: base-lineheight*0.5
			
		input:focus, textarea:focus
			border: thin-border--highlight

		label
			display:block
			padding-bottom: base-lineheight*0.5
			border-bottom: thick-border--black
			margin-bottom: base-lineheight*0.5
		
		input[type="submit"]
			background:highlightcolor
			border:none
			display inline
			@extend .sans-header--small
			upcase()
			text-shadow:none
			height: base-lineheight*2
			span(1/6)
			text-align:center !important
			
			&:hover
				box-shadow: 3px 5px 0 rgba(0,0,0,0.5)