body
	position:relative

body.lock-down
	overflow:hidden



.modal .viewer
	height:60%
	background-repeat:no-repeat
	background-position: left center


.modal.modal-is-closed
	opacity:0
	display:none
	> section
		opacity:0

.modal.modal-is-open
	display:block
	opacity:1
	position:fixed
	top:0
	bottom:0
	left:0
	right:0
	background: rgba(255,255,255,0.75)
	
	p
		border-top: thick-border--black
		margin-top: base-lineheight
		padding-top: base-lineheight * 0.5
		display: block

.modal-is-open > section
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	opacity:1
	margin: 0 auto
	height:100%
	max-height:90%
	background:white
	border: thin-border--light-gray
	padding: base-lineheight * 2
	> span
		position:absolute
		top:0
		right:0
		padding: base-lineheight