[class^='slider--']
	height:70vh
	//padding-top:base-lineheight*2
	
	> article
		position:relative
		span(1)
		
		h2
			border-bottom: thick-border--black
			padding-bottom: base-lineheight*0.5
			
	.image
		position:relative
		z-index:0
		span(2/3)
		height:70vh
		max-height:675px
		overflow:hidden;
		.image--container
			width:150%
			height:150%
			background-repeat:no-repeat
			background-size:contain
	.socas .image--container
		position:relative
		z-index:0
		//transform: rotate(15deg)
	.content
		padding: 0 base-lineheight
		span(1/3)
		position:absolute
		right:0
		top:50%
		transform:translateY(-50%)