.table--header
	border-bottom: thin-border--light-gray
	height: base-lineheight*2

.nested-table--header
	border-bottom: thick-border--black

.production
	span(1)
	margin-bottom:base-lineheight*4
	border: thin-border--light-gray
	display:flex
	> section
		span(1/3)
		border-right: thin-border--light-gray
		&:last-child
			border-right:0
		> header
			@extend .table--header
			padding-left: base-lineheight
			margin:0
			width:100%
			upcase()
		
		> section
			padding: base-lineheight
			header
				border-bottom: thick-border--black
	
	.logo
		header
			text-align:left
		text-align:center
		img
			margin-top: base-lineheight
		

	article
		height:75px
		margin-bottom: base-lineheight*0.5
	
	.colors, .patterns, .colateral
		span(1)
		
	.colors article, .patterns article, .colateral article
		col(1/4, cycle: 4)
	
	.colateral article
		background-size: contain
		background-position: center center
		background-repeat:no-repeat
	.social
		cite
			display:block
			text-align:right;
	.brand
		cf()
		p
			col(1/2)
		ul
			col(1/2)
			//padding:0
			margin:0
			
			li
				list-style-type:none
				margin-bottom: base-lineheight
				padding-bottom: base-lineheight
				
				border-bottom: thick-border--black
	
	.availability
		ul
			margin:0
			padding:0
			
			li
				text-decoration:none
				display:inline-block
				margin-right: base-lineheight *0.5
				background:printblack
				color:white
				padding:base-lineheight * 0.25
				margin-bottom: base-lineheight * 0.5

.image--container
	transition: transform 0.25s ease-in

.drinks .image--container
	transform: translate(0px, 150px) rotate(20deg)
.drinks.loaded .image--container
	transform: translate(0px, 150px) rotate(20deg)

.socas .image--container
	transform: translate(-50px, 50px) rotate(18deg)
.socas.loaded .image--container
	transform: translate(0px, 50px) rotate(18deg)

.soypresso .image--container
	transform: translate(-30px, 0px) rotate(10deg)
.soypresso.loaded .image--container
	transform: translate(-50px, 0px) rotate(10deg)
	
.rehlauf .image--container
	transform: translate(-105px, 30px) rotate(0deg)
.rehlauf.loaded .image--container
	transform: translate(-155px, 30px) rotate(0deg)


