{% set backgroundClass = "the-inspiration" %}
{% extends 'pages-no-header.html' %}

{% block content %}

<section class="wrapper">
	<section class="descript-text">
		<article>
			<h4>To those who've gone before</h4>
			<p>I like to maintain a wide array of inputs, these are some of my favorite highlights.</p>
		</article>
	</section>
	<section id="filter-grid--quotes"></section>
</section>
{% endblock %}

{% block headerscripts %}

{% endblock %}