   {% if currentPage.subRoutes %}
   <ul id="thisPage">
   	{% for subLink in currentPage.subRoutes %}
   	<li {% if subLink.active %} class="active" {% endif %} >
   		<a href="/{{locale}}/{{currentPage.urlSegment}}/{{subLink.urlSegment}}">{{subLink.routeName}}</a>
   	</li>
   	{% endfor %}
   </ul>
   {% endif %}