{% set leadText = {} %}
{% set leadText['align'] = 0 %}
{% set leadText['offset'] = 12 %}
{% set leadText['fontSize'] = 13 %}
{% set leadText['content'] = leadText.large %}

<svg viewBox="0 0 100 55" preserveAspectRatio="xMinYMin meet">
	{% for i, line in leadText.content %}
	<g>
		<text id="textCanvas" x="0" y="{{leadText.offset*loop.index}}" font-size="{{leadText.fontsize}}" fill="#303030">{{line}}</text>
		<rect width="100%" height="0.025" fill="#BABABA" y="{{(leadText.offset*loop.index)+0.25}}"></rect>
	</g>
	{% endfor %}
</svg>