fast = 0.25s

/**
*
* Catchall for filter lists
*
**/


 [class*='-enter'] {
  opacity: 0.01;
  transition: opacity .25s ease-in;
}

[class*='-enter-active'] {
  opacity: 1;
}

[class*='-leave'] {
  opacity: 1;
  transition: opacity .25s ease-in;
}

[class*='-leave-active'] {
  opacity: 0.01;
}


@keyframes my-cloud-animation
    0%
        transform: translate(10px, 10px)
    14%
        transform: translate(9px, 10px)
    70%
        transform: translate(8px, 11px)
    84%
        transform: translate(9px, 11px)
    100%
        transform: translate(10px, 10px)

@keyframes my-other-cloud-animation
    0%
        transform: translate(-10px, -10px)
    14%
        transform: translate(-9px, -10px)
    70%
        transform: translate(-8px, -11px)
    84%
        transform: translate(-9px, -11px)
    100%
        transform: translate(-10px, -10px)


#image2
	animation my-cloud-animation 30s linear infinite

#image1
	animation my-other-cloud-animation 15s linear infinite