/**
*
* Borders
*
**/


thick-border--black = 3px solid black
thin-border--black = 1px solid black

thick-border--white = 3px solid white
thin-border--white = 1px solid white


thick-border--green = 3px solid green
thin-border--green = 1px solid green


thick-border--gray = 3px solid gray
thin-border--gray = 1px solid gray

thick-border--light-gray = 3px solid lighten(gray,75%)
thin-border--light-gray = 1px solid lighten(gray,75%)


thick-border--highlight = 3px solid highlightcolor
thin-border--highlight = 1px solid highlightcolor

/**
*
* Shadows
*
**/

angle = 0 5px // X, y
aperture = -5px
distance = 10px


.subtle-top-shadow
	box-shadow(angle distance aperture rgba(0,0,0,0.25))
