base-fontsize			=	16px;
base-lineheight-unit	=	22px;
paragraph-lineheight	=	1;
base-lineheight 		=	rem(base-lineheight-unit*paragraph-lineheight);

sizes = type-scale(1.33,16,18,15)

//For Rupture
base-font-size = base-fontsize;


// Sans-serif
calibri       = Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
candara       = Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
franklin      = "Franklin Gothic Medium", Arial, sans-serif
futura        = Futura, "Trebuchet MS", Arial, sans-serif
geneva        = Geneva, Tahoma, Verdana, sans-serif
gill-sans     = "Gill Sans", "Gill Sans MT", Calibri, sans-serif
helvetica     = "Helvetica Neue", Helvetica, Arial, sans-serif
lucida-grande = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
optima        = Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
segoe         = Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif
tahoma        = Tahoma, Geneva, Verdana, sans-serif
trebuchet     = "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif
verdana       = Verdana, Geneva, sans-serif

// Serif
antiqua       = "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif
baskerville   = Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif
bodoni        = "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
cambria       = Cambria, Georgia, serif
caslon        = "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif
constantia    = Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif
didot         = Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
garamond      = Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
goudy         = "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif
hoefler       = "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif
lucida-bright = "Lucida Bright", Georgia, serif
palatino      = Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif


.serif-font
	font-family: georgia
.sans-font
	font-family: franklin


#special:after
	content:''+sizes+''


.util_headers
	//upcase()
	italic()
	font-weight:500
	letter-spacing:1px;



h1,h2,h3,h4,h5,h6
	font-family: georgia

p,li,small
	font-family: calibri

h1
	default-spacing(sizes[12],2)

h2
	default-spacing(sizes[10])
h3
	default-spacing(sizes[9])
h4
	default-spacing(sizes[8])
h5
	default-spacing(sizes[7])
h6
	default-spacing(sizes[6])

p
	default-spacing(sizes[4])
	padding-top:0
	margin-top:0
	color: printblack

hr
	

a
	reset-link()



/**
*
* Generic typesizes
*
**/

.headers
	//upcase()


.sans-header
	@extend .sans-font
	@extend .headers
	font-style: normal
	font-weight:bold

.sans-header--small
	@extend .sans-header
	default-spacing(sizes[4], 1)

.sans-header--medium
	@extend .sans-header
	default-spacing(sizes[6], 1)	


.header--small
	@extend .headers
	default-spacing(sizes[6],1)
	font-family:georgia
	font-weight:500


.header--medium
	@extend .headers
	default-spacing(sizes[8],1.25)
	font-family:georgia
	font-weight: 700
	

.header--large
	@extend .headers
	default-spacing(sizes[10],1.75)
	font-family:georgia
	font-weight:500


.header--large-bold
	@extend .headers
	default-spacing(sizes[14],2.75)
	font-family:georgia
	font-weight:500
	
.header--medium-bold
	@extend .headers
	default-spacing(sizes[8],1.25)
	font-family:georgia
	font-weight:500

.body-text--small
	default-spacing(sizes[3],0.75)



/**
*
* Unique
*
**/


.callout--text
	@extend .serif-font
	default-spacing(sizes[8], 1.75)

.punctuation
	default-spacing(sizes[24], 12)
	font-family:georgia


/**
*
* Filter-grid
*
**/


.filter-grid
	.quote
		@extend .callout--text
	
	.author
		@extend .sans-header--medium
		
	.quote-mark
		@extend .punctuation

	.skill--item
		header
			@extend .sans-header--small
			margin-bottom: base-lineheight * 0.5
			margin-top:0
			color: printblack
			line-height: base-lineheight*2
			upcase()
		ul
			li
				margin-top:0
				@extend .sans-header--small
				font-weight:100
				
				&.category
					color:lighten(gray, 50%)
/**
*
* table-detail
*
**/


.table-detail
	header
		upcase()
		@extend .sans-header--small
		margin-top:0
		color: printblack
		line-height: base-lineheight*2
	

	.social
		blockquote
			@extend .callout--text
			
			cite
				@extend .sans-header--small
	
	.availability
		li
			@extend .sans-header--small
			margin:0
			pading:0


.slider--brands
	h2
		@extend .header--large-bold
		font-weight:normal



[class^='lead--text']
	@extend .serif-font


/**
*
* Navigation
*
**/

.nav--bottom
	a
		@extend .sans-header--small


/**
*
* Text Description
*
**/

.descript-text
	h4
		@extend .header--medium-bold
		margin-bottom: base-lineheight