{% extends '../the-work/the-work.html' %}

{% block content %}
<section id="stage" class="wrapper">
	<section class="descript-text">
		<article>
			<h4>The "other" skills.</h4>
			<p>Collected over time, these "other skills" represent things I have been exposed to or have a working, professional interest in to even a small extent. Star ratings are a personal assessment of ability.</p>
		</article>
	</section>
	<section id="filter-grid--other"></section>
</section>

{% endblock %}