
<article class="{{slide.meta.id}}">
	<section class="image">
		<section class="image--container" style="background-image:url('/images/staged-cans-{{slide.meta.hero_image}}')"></section>
	</section>
	<section class="content">
		{{ slide.content | raw }}
	</section>
</article>