{% extends 'pages.html' %}
{% block lead %}
<section class="lead">
	<section class="lead--text lead--text wrapper">
		{% set align = 0 %}
		{% set offset = 9 %}
		{% set fontsize = 8 %}
		{% set content = leadText.large %}
		
		<svg viewBox="0 0 100 55" preserveAspectRatio="xMinYMid meet">
			<defs>
				<filter id="textFilter" >
					<feTurbulence type="fractalNoise" baseFrequency="0.25" numOctaves="2" result="turbulence_3" data-filterId="3" />
					<feDisplacementMap xChannelSelector="G" yChannelSelector="R" in="SourceGraphic" in2="turbulence_3" scale="1" />
					<feBlend in="SourceGraphic" in2="#line1" mode="lighten"/>
					<filter />
				</defs>
				<!-- <rect id="highlighter" x="23" y="2" width="70%" height="{{fontsize}}" fill="yellow" stroke=""  opacity="0.25" stroke-width="" filter="url(#textFilter)"/> -->
				{% for i, line in content %}
				{% if loop.index == 2 %}
				<image id="image1" xlink:href="/images/cloud.png"  height="50" width="100%"/>
				{% endif %}
				{% if loop.index == 4 %}
				<image id="image2" xlink:href="/images/cloud.png"  height="50" width="100%"/>
				<!-- <animate 
				xlink:href="#image2"
				attributeName="x"
				attributeType="XML"
				values="3; 0; 3" 
				dur="25s"
				begin="0s"
				repeatCount="indefinite"
				id="image2-move" /> -->
				{% endif %}
				<g>
					<rect width="100%" height="0.1" fill="yellow" y="{{(offset*loop.index)+0.25}}" filter="url(#textFilter)"></rect>
					<!-- <use xlink:href="#{{'line'+loop.index}}" x="" y="" filter="url(#textFilter)" opacity="0.33"></use> -->
					<text id="{{'line'+loop.index}}" x="0" y="{{offset*loop.index}}" font-size="{{fontsize}}"> {{line}}</text>
					<!-- stroke-dasharray="20,10,20,10,20" stroke="white" stroke-width="0.05" -->

				</g>
				<!-- <use xlink:href="#highlighter" x="0" y=""/> -->
				{% endfor %}
				
			</svg>
		</section>
	</section>

	{% endblock %}


	{% block content %}

	{% endblock %}

	{% block headerscripts %}

	{% endblock %}