{% set backgroundClass = "the-details" %}


{% extends 'pages.html' %}
{% block lead %}

<section class="lead">
	<section class="lead--text wrapper">
		{% set align = 0 %}
		{% set offset = 4.5 %}
		{% set fontsize = 3.2 %}
		{% set content = leadText.large %}
		
		<svg viewBox="0 0 100 60" preserveAspectRatio="xMinYMin meet">
			<defs>
				<filter id="textFilter" >
					<feTurbulence type="fractalNoise" baseFrequency="0.25" numOctaves="2" result="turbulence_3" data-filterId="3" />
					<feDisplacementMap xChannelSelector="R" yChannelSelector="B" in="SourceGraphic" in2="turbulence_3" scale="1" />
					<feBlend in="SourceGraphic" in2="#line1" mode="lighten"/>
					<filter />
				</defs>
				{% for i, line in content %}
				<g>
					{% if loop.index == 1 %}
					<rect x="0" y="2" width="7" height="{{fontsize}}" fill="yellow" filter="url(#textFilter)" />
					{% endif %}

					{% if loop.index == 7 %}
					<rect x="0" y="{{offset * (loop.index - 0.56) }}" width="6.5" height="{{fontsize}}" fill="yellow" stroke="" stroke-width="" filter="url(#textFilter)"/>
					{% endif %}

					{% if line !== ' ' %}
					<rect width="100%" height="0.025" fill="yellow" y="{{(offset*loop.index)+0.25}}"></rect>
					<text id="textCanvas" x="0" y="{{offset*(loop.index)}}" font-size="{{fontsize}}" fill="#303030">{{line | raw}}</text>
					{% endif %}
					

				</g>
				{% endfor %}
			</svg>
		</section>
	</section>

	{% endblock %}


	{% block content %}

	{% endblock %}
