{% set background = '/images/profile.jpg' %}


{% extends 'pages.html' %}
{% block lead %}

<section class="lead">
	<section class="lead--text wrapper">
		{% set align = 0 %}
		{% set offset = 4.3 %}
		{% set fontsize = 3 %}
		
		<svg viewBox="0 0 100 55" preserveAspectRatio="xMinYMid meet">
			{% for i, line in ['this is a 404'] %}
			<g>
				<rect width="100%" height="0.025" fill="#BABABA" y="{{(offset*loop.index)+0.25}}"></rect>
				<text id="textCanvas" x="0" y="{{offset*loop.index}}" font-size="{{fontsize}}" fill="#303030">{{line | raw}}</text>
				
			</g>
			{% endfor %}
		</svg>
	</section>
</section>

{% endblock %}


{% block content %}

{% endblock %}
