{% include '../partials/_header.html' %}

<section id="container">
  <section class="header {% if backgroundClass %}{{backgroundClass}}{% endif %}">
    {% include '../partials/_main-navigation.html' %}

    {% block lead %}{% endblock %}
    
    <section class="content">
      {% block content %}{% endblock %}  
    </section>

    <nav>
      <section class="nav--bottom">

       {% include '../partials/_contact-cv-nav.html' %}
     </section>
   </nav>

 </section>

</section>

{% block headerscripts %}
{% endblock %}

{% include '../partials/_footer.html' %}
